{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qurosity</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Qurosity - IIT Mandi</h1>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'trivia' %}">Trivia</a></li>
                <li><a href="{% url 'team' %}">Meet the Team</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Qurosity - IIT Mandi</p>
    </footer>
</body>
</html>
