{% extends 'main/base.html' %}
{% load static %}

{% block title %}Events{% endblock %}
{% block content %}
<section id="events">
    <h2>Upcoming Events</h2>
    <iframe src="YOUR_GOOGLE_CALENDAR_LINK" style="border:0" width="800" height="600"></iframe>

    <h3>Event Gallery</h3>
    <div id="gallery">
        {% for event in events %}
        <div class="event">
            <img src="{{ event.image.url }}" alt="{{ event.title }}">
            <p>{{ event.title }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
